<!-- app/views/comments/_comment_form.html.erb -->
<%= form_for([@photo, @photo.comments.build]) do |form| %>
  <div class="field">
    <%= form.text_area :content, placeholder: 'Escribe un comentario...' %>
  </div>
  <%= form.submit 'Agregar comentario', class: 'btn btn-primary' %>
<% end %>
