
<div class="text-center row row-cols-1 row-cols-md-2 g-0">

  <%= render @photo %>
</div>
<br>
<div>
  <%= link_to "Back to photos", photos_path %>|
<% if current_user.is_karina? %>
  <%= link_to "Edit this photo", edit_photo_path(@photo) %> 

  <%= button_to "Destroy this photo", @photo, method: :delete ,class:"btn btn-danger"%>
</div>
<% else %>
  
<% end %>
