

<%= render @photo %>

<% if current_user.is_karina? %>
<div>
  <%= link_to "Edit this photo", edit_photo_path(@photo) %> |

  <%= button_to "Destroy this photo", @photo, method: :delete %>
</div>
<% else %>
  
<% end %>
  <%= link_to "Back to photos", photos_path %>
